/* hello, thanks for looking at my code, and website that I built for the first time from scratch... You're welcome to leave comments or suggestions through our Github accounts. Feedback is appreciated!  */
body{
  margin: .2rem;
}

html{
  height: 100%;
}

.box {
  display: block;
  width: 50px;
  height: 200px;
  background-color: rbg (229, 126, 22);
}
.box:hover {
    background-color: rbg (229, 126, 22);
    width: 100px;
    height: 200px;
    transition-property: width;
    transition-duration: .5s;
  transition-timing-function: linear;
}

.content {
  padding: 0 20px;
}

.skip-to-content {
  background: #e77e23;
  height: 30px;
  left: 0%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content:focus {
  transform: translateY(0);
}


body {
  color: rgb(64, 64, 64);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 100%;
}

header img{
  max-width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20;
}

header {
  background-color: rgb(64, 64, 64);
  text-align: center;
  max-width: 100%;
  height: 20%;
  text-color: white;
}

a {
  text-decoration: none;
  color: #464646;
}

h1{
  font-family: Helvetica, Arial, sans-serif;
}

#content {
  padding: 10px;
}


.writing {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.writing > h1,
.travel-writing {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.travel-writing {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
}

img.right-align {
  display: block;
  margin-left: auto;
  margin-right: inherit;
  text-align: right;
  padding: 40px;
  border-radius: 75px;
}

#nav a {
  padding: 0 10px;
  text-align: right;
}

#nav {
  text-align: right;
  background-color: rgb(242, 242, 244);
  padding: 10px;
}

.selected {
  font-weight: bold;
}

#main {
  width: 600px;
  float:right;
}

img {
  max-width: 100%;
  padding: 5px;
  }

.columnleft {
  float: left;
  width: 50%;
  text-align: right;
}

.columnright {
  float: right;
  width: 50%;
  text-align: left;
}

.columnright img {
  float: none;
  max-width: 40vw;
  text-align: right;
  padding: 10px;
}

.columnleft img {
  float: none;
  max-width: 40vw;
  text-align: right;
  padding: 10px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
  max-width: 50%;
}

footer{
  clear: both;
  background-color: rgb(242, 242, 244);
  color: rgb(70, 70, 70);
  text-align: center;
  width: 100%;
  bottom: 0;
}

.center {
  text-align: center;
}
