/* notes */

.intro {
  margin-left: 30px; 
}

body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#header img{
  max-width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom:20px;
}

#header {
  background-color: rgb(242, 242, 244);
  text-align: center;
  max-width: 100%;
  height: 20%;
}

a {
  text-decoration: none;
  color: green;  
}

h1{
  font-family: Helvetica, Arial, sans-serif;
}

#content {
  padding: 10px;
}

img.right-align {
  display: block;
  margin-left: auto;
  margin-right: inherit;
  text-align: right;
  padding: 40px;
}

#nav a {
  padding: 0 10px;
  text-align: center;
}

#nav {
  text-align: center;
  background-color: rgb(242, 242, 244);
  padding-bottom: 10px;
}

.selected {
  font-weight: bold;
}

#main {
  width: 600px;
  float:right;
}

img {
    float: right;
    padding: 40px;
  }
  
.columnleft {
  float: left;
  width: 50%;
  text-align: right;
}

.columnright {
  float: right;
  width: 50%;
  text-align: left;
}

.columnright img {
  float: none;
  max-width: 30vw;
  text-align: right;
  padding: 10px;
}

.columnleft img {
  float: none;
  max-width: 35vw;
  text-align: right;
  padding: 10px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
  max-width: 50%;
}
  
#footer{
  clear: both;
  background-color: rgb(242, 242, 244);
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.center {
  text-align: center;
}
