body {
  color: black);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}


#container {
  background-color: black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: red;  
}
#header {
  background-color: rgb(242, 242, 244);
  color: ;
  text-align: center;
  font-size: 24px;
}
@import url('https://fonts.fontself.com/gE309jx/gilbert-color-bold-preview5.css');

h1{
  font-family: 'gilbert-color-bold-preview5', Helvetica, Arial, sans-serif
}

#content {
  padding: 10px;
}

img.right-align {
  display: block;
  margin-left: auto;
  margin-right: inherit;
  text-align: right;
}

#nav a {
  padding: 0 10px;
text-align: center;
  width180px;
}
#nav {
  text-align: center;
}

.selected {
  font-weight: bold;
}

#main {
  width: 600px;
  float:right;

img {
    float: right;
  }

}
#footer{
  clear: both;
  background-color: #999999;
  color: white;
  text-align: right;
}

.center {
  text-align: center;
}
