body {
  color: black);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#wrapperHeader{
    position: relative;
    background-image:url(images/header.png);
}

#header{
    left: 50%;
    margin-left: -500px;
    background:url(https://scontent-dfw5-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/118066812_700001237248072_1157783223426518473_n.png?_nc_cat=111&_nc_sid=b96e70&_nc_ohc=w-EgL9x-FjUAX8QIJdx&_nc_ht=scontent-dfw5-1.xx&oh=4f9522a6c6b58a8cf51b000084628e54&oe=5F63E493) no-repeat;
    width:1000px;
    height:200px;
}
#container {
  background-color: black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: green;  
}
#header {
  background-color: rgb(242, 242, 244);
  color: ;
  text-align: center;
  font-size: 24px;
}
@import url('https://fonts.fontself.com/gE309jx/gilbert-color-bold-preview5.css');

h1{
  font-family: 'gilbert-color-bold-preview5', Helvetica, Arial, sans-serif
}

#content {
  padding: 10px;
}

img.right-align {
  display: block;
  margin-left: auto;
  margin-right: inherit;
  text-align: right;
}

#nav a {
  padding: 0 10px;
text-align: center;
  width180px;
}
#nav {
  text-align: center;
}

.selected {
  font-weight: bold;
}

#main {
  width: 600px;
  float:right;

img {
    float: right;
  }

}
#footer{
  clear: both;
  background-color: #999999;
  color: white;
  text-align: right;
}

.center {
  text-align: center;
}
